.container {

}
html{
}
.bg-login-image {
  background: url("https://images.unsplash.com/photo-1565966245341-5a3f55bbf545?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
  background-size: cover;
}

.image-block {

}

.right-block{
  margin: 50px 20px 0 20px ;
  width: 450px !important;
}

.text-center {
  margin-top: 50px;
}

.field-icon{
  margin-top: -47px !important;
}

.loader {
  margin-left: 200px!important;
}

.container {
  width: 900px;
  height: 50%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  border-radius: 5px;
}

.row2 {
  display: flex !important;
}

.justify-content-center {
  justify-content: center !important;
}

.text-center {
  text-align: center !important;
}

.text-gray-900 {
  color: #3a3b45 !important;
  font-size: 24px;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
  margin-top: 2.0rem;
  color: darkgray;
  font-family: Bahnschrift;
  margin-left: 70px;
  margin-right: 70px;
  line-height: 1.8;
}

* {
  box-sizing: border-box;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  border-radius: 25px;
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}


.btn {
  margin-top: 5px;
  border-radius: 25px;
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.93;
}

.btn:hover {
  opacity: 1;
}

/*for app-user-reset-password and login form*/
.image-block {
  display: block !important;
  height: 450px;
  width: 450px;
  border-radius: 5px 0 0 5px;
  margin-left: -.75rem
}

.right-block {
  display: block !important;
  height: 450px;
  width: 450px;
  border-radius: 5px 0 0 5px;
}

.form-block {
  margin-left: 50px;
  margin-right: 50px;
}

i {
  border-radius: 50%;
}

/*optional button*/
.btn-google {
  color: #fff;
  background-color: #ea4335 !important;
  border-color: #fff;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998 !important;
  border-color: #fff;
}

.fa-2x {
  font-size: 1.6em ;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.ng-invalid .ng-untouched{
  border: 2px solid dodgerblue;
}

.ng-invalid:not(form)  {
  border-left: 5px solid firebrick;
  border-right:5px solid firebrick;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -33px;
  margin-right: 20px;
  position: relative;
  z-index: 2;
}

.form-group{
  display: flex;
  width: 100%;
}

.center{
  text-align: center;
}

/*loader*/
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid blue;
  border-bottom: 5px solid blue;
  width: 40px;
  height:40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
