<h3>Dashboard</h3>
<div class="row">
  <div class="col-xxxl-3 col-md-6" >
    <ngx-status-card [title]="this.nbrArticle">
      <i [ngClass]="'nb-star'"></i>
    </ngx-status-card>
    <nb-card>
      <div class="icon-container">
        <div class="icon status-warning">
          <i [ngClass]="'nb-alert'"></i>
        </div>
      </div>

      <div class="details" style="position: relative;top: 20px">
   <div  class="title h5" style="color: red;font-size: xxx-large; position: relative;top: 10px" *ngIf="this.appro>0">{{ this.appro }} </div>
        <div  class="title h5" style="color:#F0AD19;font-size: xxx-large;position: relative;top: 10px" *ngIf="this.appro==0">{{ this.appro }} </div>
        <br>
        <div class="status subtitle-2" *ngIf="this.appro<=1" >Article à Réaprovisionner</div>
        <div class="status subtitle-2" *ngIf="this.appro>1"  >Articles à Réaprovisionner</div>
        <div class="details subtitle-2" style="position: relative;left: 130px" ><a href="" style="position: relative;left: 130px">Go to List -></a></div>
        <br>

      </div>
    </nb-card>
  </div>
    <div class="col-xxxl-3 col-md-6">
    <ngx-solar [chartValue]="solarValue"></ngx-solar>
  </div>
  </div>


<nb-card>
  <nb-card-body>
    <nb-card-header>
      <h4>Liste des magasins</h4>
    </nb-card-header>
    <table class="table table-borderless">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Taux d'occupation</th>
        <th scope="col">      </th>
        <th scope="col">          </th>


      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">Magasin 001</th>

        <td><div class="progress">
          <div class="progress-bar"  role="progressbar" style="width: 100%;background-color:#FF3D71" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div></td>
        <td><b>100%</b></td>
      </tr>
      <tr>
        <th scope="row">Magasin 002</th>

        <td><div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 25%;background-color:#0095FF "aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div></td>
        <td><b>25%</b></td>
      </tr>
      <tr>
        <th scope="row">Magasin 003</th>
        <td><div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 70%;background-color:#FFAA00" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div></td>
        <td><b>75%</b></td>
      </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
